PORT=3004

# NATS_SERVERS="nats://localhost:4222,nats://localhost:4223"
NATS_SERVERS="nats://localhost:4222"

DATABASE_URL=mongodb://root:root123@auth-database:27017
JWT_SECRET=EstoDebEdeS3rUnStringSeguro